body {
    background-color:lightgreen;
}
h1 {
    color:Red;
    background-color:lightgreen ;
}
#showSketch {
    float: right;
}
canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top:50px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {
    }
}